#title{
    position: absolute;
    top: 200px;
    left:160px;
    color:azure;
    font-size: 80px;    
}

#title_screen{
    
 hr {
     border : 0;
     height: 1px;
     background-image: linear-gradient(to right, rgba(223, 25, 25, 0.715), rgba(62, 49, 240, 0.874), rgba(231, 26, 26, 0.916));
   }
}

#title_background{
    width: 100%;
    height: 100vh; 
}

#author{
    font-size: 50px;
    position: absolute;
    top: 440px;
    left:160px;
    color:azure;
}

#pool{
    width: 100%;
    height: 100%;
}

#sw1{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 700px;
    left:0px;
}

#intro{
    background-color: rgba(240, 255, 255, 0.674);
    position: absolute;
    top:800px;
    left:350px;
    font-size: x-large;
}

#desarrollo{
    top:800px;
    left:365px;
    right:50px;
    background-color: rgba(240, 255, 255, 0.674);
    position: absolute;
    font-size: x-large;
    border-radius: 20px;
    padding-left:20px;
 
}

#container{
    text-align: center;
    width: 800px;
    height: 800px;
}